<div class="header bg-gradient-dark pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Budget Par Projet</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom</th>
                <th *ngIf="isFinancier" scope="col">Responsable</th>
                <th scope="col">Budget Alloué</th>
                <th scope="col">Utilisé</th>

                <th scope="col">Date Debut</th>
                <th scope="col">Date Fin</th>

                <th  scope="col" class="text-right">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dept of budgets">
                <th scope="row">
                  <span class="mb-0 text-sm">{{ dept.name }}</span>
                </th>
                <th *ngIf="isFinancier" scope="row">
                  <span class="mb-0 text-sm">{{ dept.nameRep }}</span>
                </th>
                <td>${{ dept.allocatedBudget | number }}</td>
                <td>${{ dept.spent | number }}</td>
                <td>${{ dept.dateDeb | date }}</td>
                <td>${{ dept.dateFin | date }}</td>
                <td *ngIf="isFinancier" class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a
                      class="btn btn-sm btn-icon-only text-light"
                      ngbDropdownToggle
                    >
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div
                      ngbDropdownMenu
                      class="dropdown-menu-right dropdown-menu-arrow"
                    >
                      <a class="dropdown-item" (click)="onApprove(dept)"
                        >Approuver</a
                      >
                      <a class="dropdown-item" (click)="onReject(dept)"
                        >Rejeter</a
                      >
                    </div>
                  </div>
                </td>
                <td *ngIf="isManager" class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="onApprove(dept)" >Soumet</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4"></div>
      </div>
    </div>
  </div>
</div>
